@font-face {
    font-family: Roboto-Regular;
    font-weight: 400;
    src: url(/assets/fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoSemibold;
    font-weight: 500;
    src: url(/assets/fonts/roboto/Roboto-Medium.ttf);
}